:root{
    --background-color: #131313; 
    --text-color: #ffffff;
    --icon-geral-cor: #EF1600;
    --icon1-cor: #EF1600;
    --icon2-cor: #ED4A02;
    --icon3-cor: #EC8F03;
    --icon4-cor: #CF205D;
   }
body{
    margin: 56px 0 55px 0;
    background-color: var(--background-color);
}
html{
    background: var(--background-color); 
}
/* Inicio topnav*/
.buscar_box{
    margin-left: 45px;
    width: 390px;
    height: 54px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profile-image{
    width: 35px !important;
    height: 35px !important;
    flex-shrink: 0; 
    margin-top: 10px;
    margin-right: 10px;
    padding: 0px !important;
    position: fixed;
    top: 0;
    right: 20px;
    border-radius: 100%;
}
@media (width <= 320px){
    .profile-image{
        display: none;
    }
}
.lupa_buscar{
    margin-left: 8px;
    width: 42px;
    height: 54px;
    display:flex;
}
.buscar_box .input_buscar{
    position: absolute;
    left: 45px;
    width: 250px;
    height: 10px;
    top: 14px;
    line-height: 23px;
}

.buscar_box .input_buscar input{
    border: 0;
    outline: 0;
    width: 250px;
    font-size: 12px;
    background: var(--icon-geral-cor);
    color: var(--text-color);

}

.topnav{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.topnav i{
    color:var(--icon-geral-cor);
    font-size: 24px;
    padding-top: 15px;
    padding-right: 20px;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 54px;
    flex-shrink: 0; 
    border-bottom: 5px solid var(--icon-geral-cor); background: var(--background-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.po{
    display: flex;
}
/* fim topnav*/
/* Inicio botnav*/

.botnav{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 55px;
    box-shadow: 0 0 3px var(--icon-geral-cor);
    display: flex;
    overflow-x: auto;
    background-color: var(--background-color);
}
.botnav i{
    font-size: 24px;
}

.link__active {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-grow: 1;
min-width: 50px;
overflow: hidden;
white-space:nowrap;
font-family: sans-serif;
font-size: 13px;
text-decoration: none;
-webkit-tap-highlight-color: transparent;
color: var(--text-color);
}
.fa-map{
   color: var(--icon1-cor);
}
.fa-users-line{
    color: var(--icon2-cor);
}
.fa-star{
   color: var(--icon3-cor);
}
.fa-ellipsis{
   color: var(--icon4-cor);
}
/* fim botnav*/
/* Inicio lista*/
.item{
    width: 144px;
    height: 160px;
    flex-shrink: 0; 
    background-color: var(--background-color);
    margin-left: 45px;
    margin-bottom: 13px;
}
h2{
    text-align: center;
    align-items: center;
    align-content: center;
    color: var(--text-color);
    font-size: 20px;
}
.lista{
    background-color: var(--background-color);
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    color: var(--text-color);
}
.item img{
    width: 144px;
    height: 142px; 
    margin-bottom: 0 !important;
}

h3{
    color: var(--text-color);
}

.item h2{
    color: var(--text-color);
    background-color: var(--icon-geral-cor);
    width: 144px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}
.item a{
    color: var(--text-color);
    text-decoration: none;
}

/* fim lista*/