body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
}
.principal {
  background-color: var(--background-color);
}
img {
  max-width: 100%;
}
div {
  /*border: 5px solid rgb(35, 37, 36);*/
  color: var(--text-color);
}
.container {
  padding: 20px;
}
/*---Header-----------------------------------------------------------------*/
#logo img {
  max-width: 25%;
  border-radius: 80%;
}
#pesquisar {
  text-align: right;
  font-size: 1.6rem;
}
#usuario {
  text-align: right;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: none !important;
  }
}
@media (min-width: 576px)
{
  .container, .container-md, .container-sm{
      max-width: none !important; 
  }
}
/*---Main-----------------------------------------------------------------*/
main .row {
  margin: 20px;
}
main #notaFilme {
  text-align: center;
  font-size: 1.6rem;
}
main #favoritoFilme {
  text-align: center;
  font-size: 1.6rem;
}
main #posterFilme {
  text-align: center;
}
main .infoUmDiv {
  padding: 3%;
  background-color: var(--icon-geral-cor);
  border-radius: 8px;
}
main #infoUm {
  text-align: center;
}
main .infoDoisDiv {
  padding: 3%;
  background-color: var(--icon-geral-cor);
  border-radius: 8px;
}
main .comentarioDiv {
  padding: 3%;
  background-color: var(--icon-geral-cor);
  border-radius: 8px;
}
main #comentTitulo {
  text-align: center;
}
main #comentario {
  text-align: center;
}
main .ultimosComentariosDiv {
  padding: 3%;
  background-color: var(--icon-geral-cor);
  border-radius: 8px;
}
main #ultimosComentTitulo {
  text-align: center;
}
#favoriteButton {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#favoriteButton .fa-solid {
  font-size: 300%;
}
