body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
html{
    background-color: #131313;
}
.principal{
    background-color: #131313;
    margin: 0;
}
img{
    max-width: 100%;
}
div{
    /*border: 5px solid rgb(35, 37, 36);*/
    color: #fff;
}
.container {
    padding-top: 41px;
}
/*---Header-----------------------------------------------------------------*/
#logo img{
    max-width: 25%;
    border-radius: 80%;
}
#pesquisar{
    text-align: right;
    font-size: 1.6rem;
}
#usuario{
    text-align: right;
    font-size: 1.6rem;
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: none !important;
    }
}
@media (min-width: 576px)
{
    .container, .container-md, .container-sm{
        max-width: none !important; 
    }
}
/*---Main-----------------------------------------------------------------*/
main .row{
    margin: 20px;
}
main #favoritoFilme{
    text-align: center;
    font-size: 1.6rem;
}
main #favoritoFilme h1{
    display: inline;
    color: #ec8f03;
}
main .col{
    max-width: 50%;
}

